<div class="app__container">
  <div class="app__left">
    <img src="../../assets/icons/Logo.svg">
    <button (click)="selectedTab = 1;" class="menu-button"><img src="../../assets/icons/ico_dashboard.svg"><span [ngStyle]="{'color': selectedTab == 1 ? 'orange' : 'white'}">Dashboard</span></button>
    <button (click)="selectedTab = 2;" class="menu-button"><img src="../../assets/icons/ico_users.svg"><span [ngStyle]="{'color': selectedTab == 2 ? 'orange' : 'white'}">Users</span></button>
    <button (click)="selectedTab = 3;" class="menu-button"><img src="../../assets/icons/ico_sessionmanager.svg"><span [ngStyle]="{'color': selectedTab == 3 ? 'orange' : 'white'}">Session Manager</span></button>
  </div>
  <div class="app__right">
      <img src="../../assets/icons/ico_notification.svg" class="mr-2 notification">
      <img src="../../assets/icons/ico_user.svg" class="app__rightImg"><span class="app__rightName">John Smith</span>
      <img src="../../assets/icons/ico_downarrow.svg" class="app__rightDownArrow">
  </div>
</div>
<app-dashboard *ngIf="selectedTab == 1"></app-dashboard>
<app-show-user *ngIf="selectedTab == 2" [isDivVisible]="isDivVisible"></app-show-user>
<app-session-manager *ngIf="selectedTab == 3"></app-session-manager>
<app-add-user [isDivVisible]="isDivVisible" [style.visibility]="isDivVisible ? 'visible' : 'hidden'"></app-add-user>
