body{
  background-color: #424543;
}
.showContent{
  background-color: white;
  margin: 35px;
  height: 80px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  display: flex;
  align-items: center;
  margin-bottom: 0px;
}
